*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
:root{
  --primary-font: "IBM Plex Serif", serif;
  --secondary-font: "Merienda", cursive;
  --final-font: "Poppins", sans-serif;
  --primary-color: #30bcc9;
  --secondary-color: #faf3e3;
  --thirdly-color: #fada80;
  --last-color: #f6404f;

}
html{
  font-size: 83.333;
  /* 1 rem = 12px */
  font-family: var(--primary-font);
  font-size: 1rem;

}
.header{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  border-bottom: 3px solid var(--thirdly-color);
  text-transform: capitalize;

}
@media screen and (max-width: 62.5em) {
  .header{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
  }
  
}
.header-logo-link{
  text-decoration: none;

}
.header-nav-list{
  list-style: none;
  display: flex;
  gap: 3rem;
  
}
.header-nav-link{
  text-decoration: none;

}